
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}
  
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #FFFFFF;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
}

.main-header-background {
    color: #000000;
    background-color: #FFFFFF;
    background-image: url(../img/index-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.main-header {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.main-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}

.real-city-text-head {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.real-city-text-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.attractions-head {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.attractions-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.bridge-text-head {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.bridge-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.attractions-descr-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.search-block-head {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.search-block-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.page-footer-title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color:#FFFFFF;
}

.page-footer-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color:#FFFFFF;
}

.footer-contacts-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
}

.button {
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
}

.newsletter-button {
    background-color: #83B3D3;
}

.button-submit {
    background-color: #83B3D3;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.button-two {
    background-color: #ffffff00;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
}

.advantage-item {
    background-color: #83B3D31F;
}

.advantage-item-dark {
    background-color: #83B3D3; 
}

.advantage-item-white {
    background-color: #FFFFFF;
}

.advantage-item-black {
    background-color: #83B3D333;
}

.newsletter {
    background-image: url(../img/background-interested.jpg);
    background-repeat: no-repeat;
    background-color: #000000;
    background-size: 100% auto;
}

.htmlacademy-link {
    color: #000000;
}

.inner-header-title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.catalog-filter-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.breadcrumbs-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.main-inner {
    color:#FFFFFF;
    background-image: url(../img/catalog-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #000000;
}

.hostel-block {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
}

.product-card-link {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
}

.additional-information {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.rating-card-button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
}

.product-card-button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
}

.detail-card-button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pagination-show-more {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
}

.pagination-link {
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    line-height: 16px;
    font-weight: 700;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-block-page {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}